<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<link rel="stylesheet" href="stylesheets/custom.css" />
<link rel="stylesheet" href="stylesheets/jquery.mobile.icons.min.css" />
<script src="javascripts/index.js"></script>


<!--homepage-->
<!--homepage-->
<div data-role="page" id="homepage">

	<div data-role="header">
		<h1>Dee's Doughnuts</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<p>Welcome to Dee's Doughnuts</p>
        
        
        <a href="#register" class="ui-btn">Register</a>
        <a href="#login" class="ui-btn">Login</a>
        
        
        
	</div><!-- /content -->

	<div data-role="footer">
		<h4>GC 2021</h4>
	</div><!-- /footer -->
</div><!-- /page -->


<!--registration page-->
<div data-role="page" id="register">

	<div data-role="header">
		<h1>Create Account</h1>
		<a href="#homepage" class="ui-btn">Home</a>
	</div><!-- /header -->

	<div role="main" class="ui-content">
	
	<!--text input boxes-->
	
    Username <input type="text" id="username"/> <br>

    E-mail <input type="text" id="email"/> <br>
    
    Password <input type="text" id="password"/> <br>
	
	Account Type <input type="text" id="acctype"/> <br>

    <button id="submitbutton"> Submit </button>
    
        
	</div><!-- /content -->

	<div data-role="footer">
		<h4>GC2021</h4>
	</div><!-- /footer -->
</div><!-- /page -->



<script>
// when the 'submit' button is clicked
$( "#submitbutton" ).click(function(event) {
  // stop the default redirect of the browser
  event.preventDefault();
  
  // grab the values input by the user
  var username = $('#username').val();
  var email = $('#email').val();
  var password = $('#password').val();
  var acctype = $('#acctype').val();
  
  var isValid = true;
  
  if(username == ""){
     alert("Please enter a username");
     isValid = false;
  }
  if(!email.includes("@")){
     alert("Please enter a valid email");
     isValid = false;
  }

 // only send the data to the database, if the parameter is true.
  if(isValid == true){
      // send the data to the server side
      $.post( "/putInDatabase", { username:username, email:email, password:password, acctype:acctype })
      .done(function( data ) {
        alert( "Data Loaded: " + data );
      });
  }
  
  
  
});

</script>


<!--Login Page-->
<div data-role="page" id="login" >

	<div data-role="header">
		<h1>Log in to your account here</h1>
		<a href="#homepage" class="ui-btn">Home</a>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		                
        Username <input type="text" id="loginUsername"/> <br>
        Password <input type="text" id="loginPassword"/> <br>

        
         <button id="loginbutton"> Login </button>
         
         
        
	</div><!-- /content -->

	<div data-role="footer">
		<h4>GC 2021</h4>
	</div><!-- /footer -->
</div><!-- /page -->

<script>
// when the 'Login' button is clicked
$( "#loginbutton" ).click(function(event) {
  // stop the default redirect of the browser
  event.preventDefault();
  
  // takes the values input by the user
  var un = $('#loginUsername').val();
  var pw = $('#loginPassword').val();
  
  if(un == "")
  {
	alert ("Please enter a username");
  }
   if(pw == ""){
	alert ("Please enter a password");
  }


	
  $.post( "/checkTheLogin", { username: un, password: pw })
      .done(function( data ) {
	  //say what account type is
        alert( "Data Loaded: " + data );
		
		if(data.includes("customer")){
		
	// move to the customer dashboard
	   window.location = "/#customerdash";
		}
	else if(data.includes("driver")){
		
		 // make a call to the server side to get the data
            $.get( "/getDriverData", function( data ) {
            // display the data on the driver page
                $( "#driverOutput" ).html( data );
	});
		
	// move to the driver dashboard
	   window.location = "/#driver";
	}
	
	        else if(data.includes("manager")){
                
           // make a call to the serverside to get the data!
            $.get( "/getManagerData", function( data ) {
            // output the data to the manager page
                $( "#managerOutput" ).html( data );
          
            });
                
        
           // move to the manager dashboard
           window.location="/#manager";
        }
        
        
      });
  
  
 }); 
  
</script>

<script>
var myCart = [];

</script>

<!--Customer Dashboard with add to cart-->
<div data-role="page" id="customerdash">
	
	
	
	<div data-role="header">
		<h1>Choose your delicious doughnuts</h1>
		<a href="#homepage" class="ui-btn">Home</a>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<p>Choose from our delicious range of homemade doughnuts, all lovingly prepared in our on site bakery</p>
        
           <div id="productdata"> </div>
       
         <script>
        $.get( "/getProducts", function( data ) {
              
              $("#productdata").html(data);
        });
        </script>    

     
	<button id="goToCheckout"> Checkout </button>
	
        
	</div><!-- /content -->

	<div data-role="footer">
		<h4>CopyrightGC2021</h4>
	</div><!-- /footer -->
</div><!-- /page -->

<div data-role="page" id="checkoutreview" >

	<div data-role="header">
		<h1>Review your order</h1>
		<a href="#homepage" class="ui-btn">Home</a>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<p>Check your order before continuing to the payment page</p>
        
		<div id="products">
		</div>
        
         <button id="insertintodb">Complete Checkout</button>
         
         
        
	</div><!-- /content -->

	<div data-role="footer">
		<h4>CopyrightGC2021</h4>
	</div><!-- /footer -->
</div><!-- /page -->

<script>

$("#insertintodb").click(function() {
		
		//get the customer username
		var orderby = $('#loginUsername').val();
	
		
		//get the list of products from cart
		var items = myCart.toString();
		 
 
      $.post( "/completeCheckout", { orderby: orderby, items: items })
      .done(function( data ) {
        alert( "Data Loaded: " + data );
      });


});

</script>
 
<script>
//this function triggers each time a page is loaded
$(document).on("pagecreate",function(event){

$.get("/checkIfTimeLeft",function( data ) {
	
		if(data.includes("ok")){
		} else {
		
		//session expired
		window.location="/";
		}
	});
	
});



$( "#goToCheckout" ).click(function() {

        // update the div tag with the shopping cart
        
        var cartItems = myCart.toString().split(',');
        // for each record, append them to the procuts div.
        
        // wipe the products div tag!
        $('#products').html('');
        
        for(var i=0; i< cartItems.length; i++){
            $('#products').append(cartItems[i] + '<br>');
        }
        
       

        // move to to the checkout review
        window.location="/#checkoutreview";
});


function deleteProduct(item){
    
    // loop over the cart
    myCart.forEach(function(itemCurrent, index, array) {
                
               // look for the item we want to delete.
               if(itemCurrent.includes(item)){
                  console.log("Removing previous reference to " + item);
                  myCart.pop(index);
               }
        });
}

function addToCart(itemName){
    // finding out the name of the ITEM we are adding
    var item = itemName;
	console.log(item);
    
    // dynamically find out the qty
	var qty = $('#'+item).children("option:selected").val();
	console.log(qty);
    
    // search the cart and see if we already added
    // the item. If we did, remove the old qty.
    console.log("Searching to see if record already exists");
    myCart.forEach(function(itemCurrent, index, array) {
           
           console.log("in array" + itemCurrent);
           
           if(itemCurrent.includes(itemName)){
              console.log("Removing previous reference to " + itemName);
                var indexx = array.indexOf(itemCurrent);
                if (indexx !== -1) {
                  array.splice(indexx, 1);
                }
           }
    });
    
    
    // add the item to the cart
    myCart.push(item + '-' + qty);
    
    alert(myCart);


	
	//put in the session
	$.post("/putInSession", {cart:myCart} );

}
</script>
<!--Manager Page-->
<div data-role="page" id="manager">

	<div data-role="header">
		<h1>Management Dashboard</h1>
		<a href="#homepage" class="ui-btn">Home</a>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<p>Recent customer orders</p>
         
     <div id ="managerOutput"> 

	</div>
	
	</div><!-- /content -->

	<div data-role="footer">
		<h4>CopyrightGC2021</h4>
	</div><!-- /footer -->
</div><!-- /page -->
 
<!--Driver Page-->
<div data-role="page" id="driver">

	<div data-role="header">
		<h1>Driver Dashboard</h1>
		<a href="#homepage" class="ui-btn">Home</a>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<p>Orders for Delivery</p>
         
     <div id ="driverOutput"> 

	</div>	
	
    <script
  
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"> </script>
  
 <span> The current temperature is <div id="currentTemp"> </div> degrees in <div id="location"></div> city.</span>
 
 <script>


$.getJSON( "http://api.weatherstack.com/current?access_key=e01f81992b8fa49e7fb20914c3b2d8db&query=Cork", function( json ) {
  console.log("JSON Data: " +json.current.temperature +json.location.name); 
  
  $('#currentTemp').html(json.current.temperature);
  $('#location').html (json.location.name);
  
 });
</script>
       
        
	</div><!-- /content -->

	<div data-role="footer">
		<h4>Copyright GC 2021</h4>
	</div><!-- /footer -->
</div><!-- /page -->
